*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    background-color: #fff;
}
.unilogo{
    margin: 5px 0px 5px 100px;
}
.logo{
   
    width: 100px;
    padding: 10px;
    border-radius: 100px;
}
#uniname{
    margin: 5px 0px 5px 0px;
}
h1{
    text-align: center;
    padding-top: 18px;
}
nav{
    border-top:solid rgba(0, 0, 0, 0.333);
    background-color: #F1F1F1;
}
.list{
    list-style-type: none;
    margin: 0px 0px 0px 100px;
}
.item{
    display: inline ;
    font-size: 20px;
}
.list a{
    display: inline-block;
    text-decoration: none;
    padding: 30px;
    color: black;
}
.list a:hover{
    color: white;
    background-color:darkcyan;
}
.list a:visited
{
    color:red;
}
.banner{
    width:100%;
}
.container{
    border-top: solid black;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.container a{
    text-decoration: none;
}
.contain{
    margin-left: 1px;
    background-color:rgb(61, 179, 215);
    height: 150px;
    padding: 5px;
    align-items: center;
}
.icon{
    margin: auto;
    margin-top: 10px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icon i{
    margin: 10px;
    color: rgb(61, 179, 215);
    font-size: 30px;
}
.iconname{
    color: white;
    text-align: center;
    margin: 20px 20px 0px 20px;
    font-size: 30px;
}
.vidd{
    margin-top: 5px;
    background-image: url('https://media.istockphoto.com/photos/college-university-campus-out-of-focus-background-picture-id872254010?k=20&m=872254010&s=612x612&w=0&h=zPF7JsNkw4P--l49WoNLDi27wcfnZIPJQmMvHiSvL-E=');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.vid{
    border: solid black;
    height:400px;
    width:48%;
    box-shadow: 10px 10px 10px 0px black;
    margin:10px;
}
iframe{
    width: 48%;
    height: 400px;
    margin: 10px;
    border: solid black;
    box-shadow: 10px 10px 10px 0px black;
}
#stat , #award{
    display: none;
}
table ,tr , th, td{
    border: solid white;
    border-collapse: collapse;
}
tr ,th, td{
    background-color: lightgrey;
    padding:5px 10px 5px 10px;
    text-align: center;
    width: auto;
}
#stats , #awards{
    text-decoration: none;
    background-color: lightgray;
    display: block;
    padding: 20px;
    font-size: 25px;
    color: black;
    margin: 5px 20px 5px 20px;
    border: solid grey;

}
.plus{
    float: right;
}
#stats:hover + #stat{
    display:block;
}
#awards:hover + #award{
    display: block;
}
.toggle{
    margin:20px;
    padding: 5px;
}
.toggle-list{
    background-color: lightgrey;
    list-style-type: none;
    font-size: 20px;
    padding:5px;
}
footer{
    background-color:rgb(61, 179, 215);
    padding-bottom: 30px;
}
.box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid grey;
}
.foot{
    margin-left: 1px;
}
.foot .icon i{
    font-size: 20px;
    margin:5px;
}
.foot .icon{
    height: 30px;
    width: 30px;
}
.foot .iconname{
    font-size: 20px;
    margin-top: 30px;
}
.box2{
    padding: 20px;
}
.box2 i{
    font-size: 30px;
    padding: 10px;
    color: black;
}
center{
    padding-top: 5px;
}
